<a href="<%- url_for(post.link ? post.link : post.path) %>" class="thumbnail">
    <% var thumbnailUrl = thumbnail(post) %>
    <% if (thumbnailUrl) { %>
        <img loading=lazy src=<%- thumbnailUrl %> alt="<%= post.title %>" class="thumbnail-image" />
    <% } else { %>
        <span class="thumbnail-image thumbnail-none"></span>
    <% } %>
    <% if (typeof(counter) !== 'undefined' && counter) { %>
        <%- partial('comment/counter') %>
    <% } %>
</a>
